

.backgroundNav{
    background-color: #032603;
    padding: 20px 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.info{
    background-color: #41DA691A;
    color: #41DA69;
    width: 155px;
    height: 32px;
    border-radius: 200px;
    padding: 0;
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.backgroundOferta{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #41DA69;
    padding: 8px
}

.textOferta{
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.textFooter{
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    margin-top: 20px;
}