:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Poppins, sans-serif !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.bgbody{
  background-color: #FCFFFC;
  padding-top: 100px;
}

.cards{
  background: #FFFFFF;
  border: 1px solid #191F2D1A;
  width: 100%;
  gap: 24px;
  opacity: 1;
  border-radius: 8px;
  padding: 24px;
}

.titleCards{
  color: #191F2D;
  font-weight: 500;
  font-size: 16px;
  margin: 0 0 0 10px;
}

.texts{
  color: #191F2DCC;
  font-weight: 400;
  font-size: 14px;
  margin: 15px 0 0 0;
  width: 296px;
}

.labels{
  font-weight: 500;
  font-size: 11.5px;
  line-height: 14px;
  color: #191F2D;
  margin-top: 20px;
  margin-bottom: 8px;
}

.inputs{
  width: 100%;
  height: 42px;
  padding: 8px 12px;
  opacity: 1;
  border-radius: 8px;
  border: 1px solid #191F2D1A;
  font-weight: 400;
  font-size: 14px;
  color: rgb(25, 31, 45);
  background: #FFFFFF;
  outline: none;
}

.inputs::placeholder{
  color: rgba(25, 31, 45, 0.30);
}

.button-principal{
  width: 100%;
  padding: 10px 16px;
  gap: 8px;
  opacity: 1;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  margin-top: 25px;
  background-color: #41DA69;
  border: none;
}


/*Produtos*/

.titleProduct{
  font-weight: 500;
  font-size: 14px;
  color: #191F2D;
  line-height: 100%;
}

.textProduct{
  font-weight: 400;
  font-size: 12px;
  color: #191F2DB2;
}

.valueProduct{
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-decoration: line-through;
  color: #191F2D66;
}

.valuePromoProduct{
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  color: #191F2DCC;
  padding-left: 5px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
}

.checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}

.checkbox input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 6px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
